*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.login-container{
    background-color:#1e1e1e;
    width:400px;
    padding: 20px 30px;
    height: 60vh;
    border-radius: 10px;
    font-size: 14px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.6);
}

.login-container h2{
    text-align: center;
    font-size: 24px;
     margin-bottom: 15px;
    font-weight: bolder;
}

.login-container label{
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.login-container input{
    margin-top: 2px;
    width: 100%;
    padding: 7px 5px;
    border-radius: 4px;
    border: 1px solid #444;
}

.user{
    margin-top: 40px;
}

.pass{
    margin-top: 20px;
}

.submit{
    text-align: center;
    margin-top: 35px;
}

#sub{
    padding: 12px 22px;
    font-size: 16px;
    border-radius: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

hr{
    margin: 42px 0px;
    border: 0;
    height: 1px;
    width: 350px;
    
    background-color:#555;
}

.acc-sign{
    display: block;
    font-size: 13px;
    margin-top: 60px;
}

.acc-sign a{
    color: #0066c0;
    text-decoration: none;
    margin-left: 2px;
    margin-right: 2px;
}

.acc-sign a:hover{
    text-decoration: underline;
}
/*
.input-error{
    border: 2px solid #ef2525 !important;
}

.input-normal{
    border: 2px solid #000 !important;
}
*/


.errors{
    margin-top: 5px;
    font-size:13px;
    color: #ef2525;
    visibility: hidden;
    height: 5px;
    display: flex;
    align-items: flex-start;
}

i{
    font-size: 13px;
    margin-right: 4px;
}

.errors.visible{
    visibility: visible;
}

.status-message{
    font-size: 20px;
    max-height: 8px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;

}

.status-message.success{
    color: green;
    visibility: visible;
}

.status-message.fail{
    color: #ef2525;
    visibility: visible;
}