*{
    margin: 0;
    padding: 0;
}

nav {
    position: sticky;
    top: 0;
    background: black;
    padding: 15px;
    z-index: 1000;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

nav, .navdata {
  overflow: visible !important;
}

.nav {
    display: flex;
    background-color: rgba(0, 0, 0, 0.939);
    height: 60px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
}

.navdata ul {
    display: flex;

}

.navdata ul li {
    padding: 0px 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bolder;
}

.logo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    color: blanchedalmond;
    font-size: 30px;
    padding: 0px 30px;

}

span {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
}

.navdata li {
    list-style-type: none;

}

main {
    background-color: black;
}

#container {
    max-height: 100vh;

}

.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay-content {
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 1;
}

#about {
    background-color: black;
    color: white;
    height: 100vh;
}

.head1 {
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    height: 30vh;
    text-align: center;
}

.s2data {
    height: 50vh;
    padding: 0px 50px;
    display: flex;
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 30px;
    width: 50vw;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 30px;
    width: 50vw;
}

p {
    font-size: 25px;
    text-align: left;
}

#events {
    background-color: black;
    color: white;
    height: 100vh;
}

.head2 {
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 65px;
    height: 20vh;
    text-align: center;
}

.s3data {
    margin-top: 15px;
    display: flex;
    align-items: flex-start;
    overflow-x: auto;
    gap: 15px;
    scroll-behavior: smooth;
    justify-content: space-between;
    height: 70vh;
    padding: 0px 50px;

}

.card {
    padding: 10px 0px;
    height: 60vh;
    width: 360px;
    background-color: rgb(36, 36, 36);
    border-radius: 10px;
}

.img {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.carddata {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(249, 249, 249);
    font-size: 12px;
    padding: 20px 0px;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.carddata p {
    padding: 10px 20px;
    font-size: large;
    text-align: center;
}

.card img {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    height: 220px;
    width: 310px;
    border-radius: 10px;
}

.but {
    display: flex;
    justify-content: center;
    
}

button {
    height: 40px;
    width: 110px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: rgb(253, 253, 253);
    color: rgb(31, 31, 32);
    font-weight: bolder;
    border: None;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.but button:hover{
    background: #111;
  color: #fff;
}

#contact {
    background-color: black;
    color: white;
    height: 100vh;
}

.head3 {
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    height: 30vh;
    text-align: center;
}

#cont-name{
    margin-top: -180px;
}

.tab{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 100vw;
    border-radius: 10px;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(36, 36, 36);
    border-radius: 10px;
    gap: 18px; 
    padding: 28px 12px;
    max-width: 480px;
    margin: auto; 
}

.l{
    display: flex;
    align-items: flex-start;
    gap: 22px;
    margin-bottom: 4px;
}

.l ::placeholder{
    padding:0px 5px ;
}
.input-block {
  display: flex;
  flex-direction: column;
  width: 260px;
}

.l label{
    font-family:sans-serif;
    font-weight: bold;
    min-width: 120px;
    flex-shrink: 0;
}

input{
    border: none;
    width: 250px;
    height: 30px;
    border-radius: 2px;
}

#drop{
    border: none;
    width: 250px;
    height: 30px;
    border-radius: 2px;
}

textarea{
    border: none;
    width: 250px;
    height: 100px;
    border-radius: 2px;
}

#fbut{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
    margin-left: 47px;
}
#fbut button{
    cursor: pointer;
}
#fbut button:hover{
    background: #111;
  color: #fff;
}

.footer {
    background-color: #222;
    color: #fff;
    padding: 30px 20px;
    text-align: center;
  }

  .footer .contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;


  }

  .footer .contact-info p {
    padding: 5px 0px;
    font-size: medium;
  }

  .footer .social-icons {
    margin-bottom: 20px;
  }

  .footer .social-icons a {
    display: inline-block;
    margin: 0 10px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .footer .social-icons a:hover {
    color: #1da1f2; /* twitter blue as hover effect */
  }

  .footer .copyright {
    font-size: 14px;
    margin-top: 10px;
    opacity: 0.8;
  }

  .errors{
    font-size:12px;
    color: #ef2525;
    visibility: hidden;
    height: 5px;
    font-weight:lighter;
    margin-top: 3px;
    display: flex;
    align-items: flex-start;
}

i{
    font-size: 13px;
    margin-right: 4px;
}

.errors.visible{
    font-weight:lighter;
    display: block;
    visibility: visible;
}

.input-error{
    border: 2px solid #ef2525 !important;
}

.input-normal{
    border: 2px solid #000 !important;
}

.status-message{
    font-size: 20px;
    max-height: 8px;
    margin-top: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;

}

.status-message.success{
    color: green;
    visibility: visible;
}

.status-message.fail{
    color: #ef2525;
    visibility: visible;
}

.profile-menu {
  position: relative;
  display: inline-block;
}

#navbar-profile-icon {
  font-size: 15px;
  color: #fff;
  background: #232323;
  border-radius: 50%;
  padding: 7px;
  box-shadow: 0 1px 6px #222a;
  cursor: pointer;
  vertical-align: middle;
  transition: background 0.15s;
  margin-left: 3px;
  display: inline-block;
}
#navbar-profile-icon:hover {
  background: #393959;
}

.profile-container {
  position: relative;
  display: flex;
  align-items: center;

}

#profile-dropdown {
  display: none;
  position: absolute;
  right: 0;
  top: 115%;
  background: #232323;
  border-radius: 10px;
  margin-top: 7px;
  width: 120px;
  z-index: 1000;
  padding:0;
}

#signout-btn {
  color: #eee;
  background: none;
  border: none;
  padding: 10px 30px;
  font-weight: 600;
  text-align: left;
  width: 100%;
  cursor: pointer;
  border-radius: 8px;
  margin: 0;
}

#profile-dropdown button:hover{
  background: #191a1e;
}

#login-li { 
    display: none; 
}
